.main__button{
    background: none;
    padding: 0px;
    border: none;
    height: 18px;
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 24px 0px;
}

.main__button:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .main__button{
        font-size: 11px;
    }
}