.card__button{
    border: none;
    border-radius: 36px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #313131;
}

.card__button:hover{
    cursor: pointer;
    opacity: 0.6;
}