.header__link{
    background: none;
    padding: 0px;
    border: none;
    height: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.header__link:hover{
    cursor: pointer;
    opacity: 0.6;
}