.notFound__link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #4285F4;
    margin: 0px;
    margin-top: 184px;
}

@media screen and (max-width: 767px){
    .notFound__link{
        margin-top: 284px;
    }
}