.footer__link{
    background: none;
    padding: 0px;
    border: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    color: #FFFFFF;
    margin: 20px 0px;
}

.footer__link:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .footer__link{
        margin: 0px;
        margin-bottom: 12px;
    }
}