.more__button{
    background: none;
    padding: 0px;
    padding-top: 11px;
    padding-bottom: 9px;
    border: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;

    text-align: center;
    width: 320px;
    margin: 50px auto 80px;
    border: 1px solid #424242;
    border-radius: 6px;
}

.more__button:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .more__button{
        width: 240px;
    }
}