.form__wrapper{
    margin-top: 70px;
    width: 396px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px){
    .form__wrapper{
        margin: auto;
    }
}

@media screen and (max-width: 767px){
    .form__wrapper{
        align-items: center;
    }
}