.header__menu{
    display: none;
}

@media screen and (max-width: 1279px){
    .header__menu{
        display: flex;
        background: none;
        padding: 0px;
        border: none;
        background-image: url('../../../image/header__menu.svg');
        width: 44px;
        height: 44px;
        margin: 15px 0px;
    }

    .header__menu:hover{
        cursor: pointer;
        opacity: 0.6;
    }
}