.main__title-h3{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -4%;
    text-align: left;
    color: #FFFFFF;
    max-width: 550px;
    margin: 0px;
    margin-top: 70px
}

@media screen and (max-width: 767px){
    .main__title-h3{
        margin-top: 60px;
        font-size: 18px;
    }
}