.popup__link{
    background: none;
    padding: 0px;
    border: none;
    height: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.popup__link{
    cursor: pointer;
    opacity: 0.6;
}